/* apply only on non-touch displays */
@media screen and (hover: hover) {
    .game_tile_box {
        transition: transform 0.2s ease-in-out;
    }

    .game_tile_box:hover {
        transform: scale(1.07);
        box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.44);
        -webkit-box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 5px 5px 19px 0px rgba(0, 0, 0, 0.44);
    }

    .game_tile_box:hover>.favourite-empty,
    .game_tile_box_row:hover>.favourite-empty {
        visibility: visible;
    }
}

@media screen and (max-width: 1200px) {

    /* applies when the viewport is < 1201px */

}

@media screen and (max-width: 1024px) {

    /* applies when the viewport is < 1025px */

}

@media screen and (max-width: 889px) {

    /* applies when the viewport is < 890px */
    #banner_header_label {
        display: none;
    }

    .banner_header {
        height: 40px;
    }

    .banner_button {
        width: 7.5%;
        max-width: 40px;
        height: 40px;
    }

    #modal-header-text:after {
        content: "";
        /* Needed to render the pseudo */
        background-image: linear-gradient(to right, transparent, var(--modal-window-header-background-color) 80%);
        position: absolute;
        inset-inline-end: 0;
        width: 100px;
        height: 30px;
        /* Logical property equivalent to `right: 0` */
    }

    .modal-tabs-container-hide {
        display: none;
    }

    .game_tile {
        min-height: 100px;
        width: 80px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .game_tile_image {
        max-width: 100px;
        min-width: 75px;
        max-height: 100px;
    }

    .game_tile_box_ratingbanner {
        display: none;
    }

    .game_tile_box {
        max-width: 75px;
        max-height: 100px;
        padding: 0px;
        margin: 0px;
    }

    .game_tile_label_box {
        /* width: 75px; */
        height: 63px;
    }

    .game_tile_label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;

        @supports (-webkit-line-clamp: 2) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-align: left;
        }
    }

    .rating_image_overlay {
        max-width: 24px;
        max-height: 24px;
    }

    .games_library_alpha_pager_letter {
        font-size: 8px;
    }

    .card-screenshot-item {
        width: 170px;
    }

    .card-services-column {
        display: none;
    }
}

@media screen and (max-width: 749px) {

    /* applies when the viewport is < 750px */

    #games_library {
        margin-right: 20px;
    }

    .game_tile_placeholder {
        width: 110px;
        height: 180px;
        margin-bottom: 10px;
        justify-content: center;
    }

    .modal-window {
        min-width: unset;
        width: 98%;
        height: 80%;
    }

    .modal-window-inner-content {
        flex-direction: column;
    }

    .modal-window-popup-container,
    .modal-window-popup {
        display: block;
    }

    .modal-window-tabs {
        display: none;
    }

    .modal-screenshots {
        height: 260px;
        width: 100%;
        min-width: unset;
        min-height: unset;
        max-width: unset;
        max-height: unset;
    }

    .account-modal-tab1 {
        flex-direction: column;
    }

    .uploadItem-FlexBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    .uploadItem-LeftColumn {
        display: inline-block;
        width: 100%;
    }

    .uploadItem-RightColumn {
        display: inline-block;
        width: 100%;
    }

    .card-window {
        top: 25px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        transform: unset;
        margin: 0px;
        width: 100%;
        height: 100%;
        min-width: unset;
        min-height: unset;
    }

    .card-background {
        height: 400px;
    }

    .card-content {
        padding: 5px;
    }

    .card-body {
        padding: 5px;
    }

    #card-image {
        height: 550px;
        min-height: 550px;
        padding-left: 0px;
        padding-right: 0px;
    }

    #card-title-info {
        display: block;
        position: unset;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }

    #card-title {
        display: block;
        padding-bottom: 20px;
    }

    .card-title-info-clearlogo {
        text-align: left;
    }

    #card-cover-info-block {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    #card-info {
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
    }

    .card-info-block-item {
        text-align: left;
        padding-right: 64px;
        display: block;
    }

    #card-cover {
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 50px;
        margin-right: unset;
    }

    #card-clearlogo {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .card-platform-name {
        display: block;
    }

    .card_image_container.platform_image_container {
        display: none;
    }

    .card-platform-gameitem {
        flex-wrap: wrap;
        /* height: 90px; */
        height: auto;
        justify-content: end;
    }

    .card-platform-gamename {
        width: 80%;
        padding-left: unset;
        margin-top: 10px;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .modal-metadataconfiguration {
        width: 100%;
        height: 400px;
        min-width: unset;
        min-height: 400px;
        max-width: unset;
        max-height: 400px;
    }

    #card-stats {
        flex-direction: column-reverse;
        gap: 20px;
    }

    #card-launchgame {
        flex-grow: 1;
        margin-left: 0px;
        height: unset;
        width: unset;
    }

    .card-romlist-item {
        flex-wrap: wrap;
    }

    .card-romlist-labels {
        flex: 2;
    }

    .block_mini_mode {
        display: none;
    }

    .setupwizard-window {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        min-width: unset;
        min-height: unset;
        border: none;
        border-radius: 0px;
        transform: unset;
        margin: unset;
    }

    .loginwindow-logospace-banner-panel {
        display: none;
    }

    #gamepage {
        padding: 5px;
        min-width: unset;
        max-width: unset;
        min-height: unset;
    }

    #gameprofile {
        display: none;
    }

    #gamehome,
    #rightcolumn {
        display: block;
        vertical-align: top;
        width: 100%;
    }

    #librarylink {
        display: block;
        width: 100%;
    }

    #games_filter_panel {
        left: 0px;
        right: 0px;
        width: unset;
    }

    .games_filter_controls {
        width: unset;
        left: 0px;
        right: 10px;
    }

    #search {
        width: 95%;
    }

    #games_filter_scroller,
    #games_filter {
        width: unset;
        left: 0px;
        right: 0px;
        padding-left: 5px;
        overflow-y: auto;
    }

    #games_home {
        margin-left: 0px;
    }

    #games_library_controls {
        left: 0px;
    }

    .games_library_controls_collapsed,
    .games_home_collapsed {
        display: none;
    }

    .card-settings-menu-item-selected {
        background-color: unset;
    }

    .card-back-button-smallscreen-visible {
        display: block;
    }

    #card-settings-menu-box {
        width: 100%;
    }

    .card-settings-menu-box-smallscreen-invisible {
        display: none;
    }

    .card-settings-content-box-smallscreen-invisible {
        display: none;
    }

    .screenshot-left-arrow,
    .screenshot-right-arrow {
        display: none;
    }
}

@media screen and (max-width: 749px) and (orientation: portrait),
screen and (max-height: 699px) and (orientation: landscape) {
    @media (orientation: portrait) {

        /* portrait-specific overrides for <=749px */
        .screenshot-info-panel {
            max-width: 80%;
        }

        .screenshot-screenshot-container {
            left: 10px;
            right: 10px;
        }

        .emulator_pausemask-image {
            width: 50%;
        }

        .emulator_pausemask-pausedlabel {
            width: 90%;
        }
    }

    @media (orientation: landscape) {

        /* landscape-specific overrides for <=749px */
        .screenshot-screenshot-container {
            left: 10px;
            right: 10px;
            top: 40px;
            bottom: 110px;
        }

        .screenshot-info-panel {
            bottom: 60px;
        }

        .screenshot-camera-roll-container {
            bottom: 10px;
            height: 45px;
        }

        .screenshot-camera-roll-container>.screenshot-camera-roll-thumbnail {
            height: 40px;
        }
    }
}

@media screen and (max-width: 370px) {
    #card-info {
        padding-left: 2px;
        padding-right: 2px;
    }

    #card-platforms {
        gap: 5px;
    }

    .section-body {
        padding: 7px;
    }

    .card-platform-gamename {
        width: unset;
        flex-grow: 1;
    }
}