name: Build Pre-release Docker Image

on:
  push:
    tags:
      - 'v[0-9]+\.[0-9]+\.[0-9]+-preview\.[0-9]'
      - 'v[0-9]+\.[0-9]+\.[0-9]+-rc\.[0-9]'

permissions:
  packages: write
  contents: read
  attestations: write
  id-token: write

jobs:
  call-reusable:
    uses: ./.github/workflows/_build-docker-images.yml
    with:
      version_tag: ${{ github.ref_name }}
      tag_to_version: ${{ github.ref }}
      include_latest: false
    secrets: inherit